footer,
nav a:hover {
    font-weight: 700
}

.jumbotron,
.profile header,
footer {
    text-align: center
}

footer,
nav {
    background-color: #00a2c6
}

.card,
footer,
main {
    padding: 20px
}

header {
    display: inline
}

* {
    box-sizing: border-box
}

body {
    font-family: Quicksand, sans-serif;
    margin: 0;
    padding: 0
}

h2,
h3 {
    color: #00a2c6
}

footer {
    color: #fff
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center
}

.profile img {
    width: 200px
}

.card {
    box-shadow: 1px 1px 8px 6px rgba(0, 0, 0, .2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    color: #fff;
    background-color: #00c8eb
}

nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
}

nav li {
    list-style-type: none;
}

nav {
    padding: 5px;
    position: sticky;
    top: 0
}

main {
    display: flex;
    gap: 1.5rem;
}

#content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

aside {
    flex: 1;
}

@media screen and (max-width:1200px) {
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }
}

@media screen and (max-width:768px) {
    nav ul {
        justify-content: center;
    }

    main aside {
        align-self: stretch;
    }
}